<div class="row-fluid">
  <div class="span8">
<p id="notice"><%= notice %></p>

<h1><%= @question.title %></h1>
<p>
  <%= @question.description.html_safe %><br />
  By: <%= link_to @question.user.username, user_path(@question.user) %><br />
  <% if is_current_user(@question.user) %>
    <%= link_to 'Edit', edit_question_path(@question) %>
  <% end %>
</p>

<% if @question.answers.length > 0 %>
  <h3>Answers</h3>
  <ul class="answers">
    <% @question.answers.each do |a| %>
      <% if a.is_right %>
        <% li_class = "alert alert-success" %>
      <% end %>
      <li class="<%= li_class %>">
        <a id="<%= a.id %>"></a>
        <%= a.description.html_safe %>
        By: <%= link_to a.user.username, user_path(a.user) %><br />
        <% if is_current_user(@question.user) %>
          <% if a.is_right %>
            <% btn_txt = "Chosen Answer" %>
            <% btn_class = "answerButton btn btn-small btn-success disabled hidden" %>
          <% else %>
            <% btn_txt = "Select Answer" %>
            <% btn_class = "answerButton btn btn-small btn-success" %>
          <% end %>
          <%= link_to btn_txt, 
              question_answer_path(@question, a, :answer => {:is_right => true}, :format => "json"), 
              :method => :put,
              :remote => :true, 
              :class => btn_class %>
        <% end %> 
      </li>
    <% end %>
  </ul>

  <%= javascript_tag do %>
    $(".answerButton").bind("ajax:complete", function(et, e, s){
      if(s == "success") {
        $(".answerButton").text("Select Answer").removeClass("disabled hidden");
        $(".answerButton").show();
        $(".answerButton").parent('li').removeClass("alert alert-success");

        $(this).text("Chosen Answer").addClass("disabled").hide();
        $(this).parent('li').addClass("alert alert-success");
      }
    });
  <% end %>
<% end %>

<% if @current_user %>
  <%= render :template => 'answers/new' %>
<% else %>
  <%= link_to 'Log in', '/login' %> or <%= link_to 'Sign up', '/signup' %> to answer this question.
<% end %>
</div>

<div class="span2">
<h3>Tags</h3>
<ul class="tags">
<% @question.tags.each do |tag| %>
  <li>
    <%= link_to tag.name, tag_path(tag), :class => "badge badge-inverse" %>
    <% if @current_user == @question.user %>
      <%= link_to "x", question_tagging_path(@question, @question.taggings.where(:tag_id => tag.id)[0].id), :method => :delete, :confirm => "Really?" %>
    <% end %>
  </li>
<% end %> 
</ul>
<%= form_for :tag, :url => question_taggings_path(@question) do |f| %>
  <%= f.text_field :name, :placeholder => "Name" %>
  <%= f.submit "Add Tag" %>
<% end %>
</div>

</div>