<p id="notice"><%= notice %></p>

<h1><%= @question.title %></h1>
<p>
  <%= @question.description %><br />
  By: <%= link_to @question.user.username, user_path(@question.user) %><br />
  <% if is_current_user(@question.user) %>
    <%= link_to 'Edit', edit_question_path(@question) %>
  <% end %>
</p>

<% if @question.answers.length > 0 %>
  <h3>Answers</h3>
  <ul>
    <% @question.answers.each do |a| %>
      <li>
        <a id="<%= a.id %>"></a>
        <%= a.description %><br />
        By: <%= link_to a.user.username, user_path(a.user) %><br />
        <% if is_current_user(@question.user) %>
          <%= link_to 'Is right?', 
              question_answer_path(@question, a, :answer => {:is_right => true}, :format => "json"), 
              :method => :put,
              :remote => :true, 
              :class => "answer_is_right",
              :right => a.is_right %><br />
        <% else %>
          <span class="answer_is_right" right="<%= a.is_right %>">Is right?</span>
        <% end %> 
      </li>
    <% end %>
  </ul>

  <%= javascript_tag do %>
    $(".answer_is_right").bind("ajax:complete", function(et, e, s){
      if(s == "success") {
        $(".answer_is_right").attr('right', false);
        $(this).attr('right', true);
      }
    });
  <% end %>
<% end %>

<% if @current_user %>
  <%= render :template => 'answers/new' %>
<% else %>
  <%= link_to 'Log in', '/login' %> or <%= link_to 'Sign up', '/signup' %> to answer this question.
<% end %>
