<p id="notice"><%= notice %></p>

<h2><%= @question.title %></h2>
<p>
  <%= @question.description %><br />
  By: <%= link_to @question.user.username, user_path(@question.user) %><br />
  <% if is_current_user(@question.user) %>
    <%= link_to 'Edit', edit_question_path(@question) %>
  <% end %>
</p>

<h3>Answers</h3>
<% @question.answers.each do |a| %>
  <%= a.description %><br />
  By: <%= link_to a.user.username, user_path(a.user) %><br />
  <% if is_current_user(@question.user) %>
    <%= link_to 'Mark as Answer' %><br /><!-- TODO: make this link work -->
  <% end %> 
  <br />
<% end %>


<% if @current_user %>
  <%= render :template => 'answers/new' %>
<% end %>
