<h1><%= @question.title %></h1>
<p>
  <%= @question.description.html_safe %><br />
  By: <%= link_to @question.user.username, user_path(@question.user) %><br />
  <% if is_current_user(@question.user) %>
    <%= link_to 'Edit', edit_question_path(@question), :class => "btn btn-warning" %>
  <% end %>
</p>

<h1>Editing answer</h1>

<%= render :partial => "form", 
           :locals => { 
              :answer_form_options => {
                :url => question_answer_path(@question, @answer)
              }
            } %>

<%= link_to 'Back to Question', question_path(@question) %>