<!DOCTYPE html>
<html>
<head>
  <title>wtf</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'wtf', root_path, :class => "brand" %>
        <form action="/questions/search" method="get" class="navbar-search pull-left">
          <input name="q" type="text" class="search-query" placeholder="Search">
        </form>
        <div id="main-menu">
          <ul id="main-menu-left" class="nav">
            <li><%= link_to 'All Questions', questions_path %></li>
            <% if !@current_user %>
              <li><%= link_to 'Sign in', '/login' %></li><li><%= link_to 'Sign up', '/signup' %></li>
            <% else %>
              <li>
                <!-- Hi, <%= link_to @current_user.username, user_path(@current_user) %> | -->
                <%= link_to "Sign out", "/logout", :id => @current_user.id, :method => :delete %></li>
            <% end %>
          </ul>
          <!--
          <ul id="main-menu-right" class="nav pull-right">
          </ul>-->
        </div>
      </div>
    </div>
  </div>
<!-- 
Questions and Answers<br />
 -->
<div class="container">

<%= yield %>

</div>

</body>
</html>
